@import "../../../scss/variables.scss";
.modalcontainer {
  position: fixed;
  margin-top: -2rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.container {
  margin: 0rem;
  padding: 0rem;
}
.card {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 22rem;
}
.image {
  height: 10rem;
  width: 10rem;
  align-self: center;
}
.button {
  display: block;
  width: 100%;
}
.qusTop {
  display: grid;
  grid-template-columns: 11.8fr 0.1fr;
}
.delete {
  // position: relative;
  float: right;
  cursor: pointer;
  color: red;
}
.quscard {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid map-get($grey, $key: "normal");
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 6px 2px 5px rgba(0, 0, 0, 0.2);
}
.footerButton {
  // display: flex;
  // justify-content: flex-end;
  margin-right: 2rem;
  float: right;
}
